/* ========================= */
/* General Container Styles  */
/* ========================= */
.digimon {
  color: #fff;
}

.digimon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* Space out the cards */
  padding: 20px;
}

/* ========================= */
/* View Specific Styles      */
/* ========================= */
.digimon-container.full {
  flex-direction: row;
}

.digimon-container.mid {
  flex-direction: column;
}

.digimon-container.list {
  flex-direction: column;
}

/* ========================= */
/* Card Styles               */
/* ========================= */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  height: auto;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #414a4c;
  color: #fff;
}

/* ========================= */
/* Set Name Styles           */
/* ========================= */
.card-set {
  position: absolute;
  bottom: 10px;
  /* Adjust as needed */
  left: 10px;
  /* Adjust as needed */
  font-size: 1.2em;
  /* Make it bold and larger */
  font-weight: bold;
  /* Bold text */
  color: #ffcc00;
  /* Fun color, adjust as needed */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  /* Add a shadow for a fun look */
  transition: transform 0.3s;
  /* Smooth transition for hover effect */
}

.card-set:hover {
  transform: scale(1.05);
  /* Slightly enlarge on hover for fun effect */
}

.card-set-number {
  position: absolute;
  bottom: 10px;
  /* Adjust as needed */
  right: 10px;
  /* Adjust as needed */
  font-size: 0.8em;
  /* Smaller size */
  color: #dcdcdc;
  /* Subtle color */
  font-style: italic;
  /* Italic for a pristine look */
  opacity: 0.7;
  /* Slightly transparent to not draw too much focus */
}

.card-details-container {
  width: 100%;
}

/* ========================= */
/* Image Styles             */
/* ========================= */
.card-image {
  width: 100%;
  /* Make the image fill the card width */
  height: auto;
  /* Maintain aspect ratio */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Slight drop shadow */
  transition: transform 0.2s;
  /* Smooth transition for hover effect */
}

.card-image:hover {
  transform: translateY(-2px);
  /* Slight lift effect on hover */
}

.card-name {
  font-weight: bold;
  margin-top: 10px;
  /* Space between image and name */
}

.card-set {
  font-size: 0.8em;
  /* Smaller font size for the set */
  color: #dcdcdc;
  /* Optional: Lighter color for the set */
}

/* ========================= */
/* View Selector Styles     */
/* ========================= */
.view-selector {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.view-selector button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #61dafb;
  color: #282c34;
  cursor: pointer;
  transition: background-color 0.3s;
}

.view-selector button.active {
  background-color: #21a1f1;
  /* Darker blue for active button */
}

/* ========================= */
/* Mid View Styles          */
/* ========================= */
.mid-card {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.mid-card-image {
  width: 50px;
  /* Adjust size as needed */
  height: auto;
  margin-right: 10px;
}

.mid-card-details {
  display: flex;
  flex-direction: column;
}

/* ========================= */
/* List View Styles         */
/* ========================= */
.list-card {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* ========================= */
/* Stack View Styles        */
/* ========================= */
.stack-container {
  position: relative;
  width: 210px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  align-items: center;
  background: none;
  max-height: 500px;
}

.stack-card {
  width: 200px;
  transition: transform 0.2s, z-index 0s;
  transition: transform 0.2s;
}

.stack-card:not(:first-child) {
  cursor: pointer;
  margin-top: -200px;
}

.stack-card:hover {
  transform: translateY(-2px);
  /* Slight lift effect on hover */
}

.stack-card img {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.stack-card.active {
  z-index: 1;
  transform: scale(1.1);
}

.selected-card {
  width: 300px;
  padding: 10px;
}

.large-card-image {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-name {
  font-weight: bold;
  margin-top: 10px;
}