/* List View Styles */
.list-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.list-card-name,
.list-card-set,
.list-card-set-number,
.list-card-count {
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.vertical-line {
  width: 1px;
  background-color: #ccc;
  height: 80%;
  margin: 0 10px;
}

