.navbar {
  background-color: #282c34;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 50px;
  box-sizing: border-box;
}

.navbar-title {
  color: #61dafb;
  font-size: 24px;
}

.navbar-section {
  cursor: pointer;
  flex: 1;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s;
  height: calc(100% - 20px);
  padding: 10px;
}

.navbar-section:hover {
  background-color: #e9ecef;
}

.navbar-logo {
  max-width: 100px; /* Adjust size as needed */
  height: 100%;
  max-height: 80px;
}
