/* ========================= */
/* Carousel Styles          */
/* ========================= */
.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* Hide overflow */
  position: relative;
  height: 250px;
  justify-content: center;
}

.carousel-container.vertical {
  flex-direction: row;
  /* Change to row for vertical layout */
}

.carousel {
  display: flex;
  overflow-x: auto;
  /* Enable horizontal scrolling */
  scroll-behavior: smooth;
  /* Smooth scrolling */
  width: 100%;
  /* Full width */
}

.carousel.vertical {
  flex-direction: column;
  /* Change to column for vertical layout */
  overflow-y: auto;
  /* Enable vertical scrolling */
}

.carousel-image {
  width: 100px;
  /* Adjust as needed */
  height: auto;
  margin: 0 10px;
  /* Space between images */
}

.center-card {
  position: absolute;
  /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  /* Ensure it's above the carousel */
  pointer-events: none;
  /* Allow clicks to pass through */
}

.center-card.vertical {
  top: 50%;
  transform: translateY(-50%);
  /* Center the card vertically */
}

.center-image {
  width: 150px;
  /* Adjust size as needed */
  height: auto;
}

.arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  font-size: 24px;
  z-index: 3;
}

.arrow-left {
  left: -15px;
  /* Position left arrow for vertical */
}

.arrow-right {
  right: -15px;
  /* Position right arrow for vertical */
}

.arrow-up {
  top: -15px;
  /* Position above the carousel */
  animation: bounceup 2s infinite;
}

.arrow-down {
  bottom: -15px;
  /* Position below the carousel */
  animation: bouncedown 2s infinite;
}

/* Bouncing animation keyframes */
@keyframes bounceup {

  0%,
  100% {
    transform: translateY(0);
    /* Original position */
  }

  25% {
    transform: translateY(-3px);
    /* Move up */
  }

  50% {
    transform: translateY(3px);
    /* Move down */
  }

  75% {
    transform: translateY(-3px);
    /* Move up again */
  }
}

@keyframes bouncedown {

  0%,
  100% {
    transform: translateY(0);
    /* Original position */
  }

  25% {
    transform: translateY(3px);
    /* Move up */
  }

  50% {
    transform: translateY(-3px);
    /* Move down */
  }

  75% {
    transform: translateY(3px);
    /* Move up again */
  }
}